tr:nth-child(even)  {
    background-color: #2185C5;
/*    text-align: right;*/
}

tr:nth-child(odd)  {
    background-color: #FFD933;
/*    text-align: right;*/
}
body   {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    background-color: #801744;
    width: 90%;
    margin: 0 auto;}


    h3 {
        position: relative;
        top: 10px;
        left: 100px;
        color: #FFF0A5;}

.whoweareicon {

  font-size: 50px;
  font-style: normal;
  color: #FFF0A5;
 /* position:relative;*/
  width: 40px;
/*  display:block;*/
  margin-left: auto;
  margin-right: auto;
              }
.whoweareicon:hover {
  color: #9F9;

  -webkit-transition: -webkit-transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}


